body {
  text-align: center;
}

div {
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
}

span {
  background: rgba(187, 187, 187, 1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  cursor: pointer;
  border-radius: 0.5px;
}

span.obstacle {
  background: #FF9800;
}

span.from {
  background: #4CAF50;
}

span.step {
  background: #607D8B;
}

span.to {
  background: #F44336;
}