body {
  font-family: Georgia, serif;
}

h1, p {
  text-align: center;
}

b.obstacle {
  color: darkblue;
}

b.from {
  color: lime;
}

b.to {
  color: red;
}

a {
  color: darkcyan;
  font-weight: bold;
}

div {
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
}

span {
  background: rgba(187, 187, 187, 0.99);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) !important;
  display: block;
  position: absolute;
  cursor: pointer;
  border-radius: 0.5px;
}

span.obstacle {
  background: #FF9800;
}

span.from {
  background: #4CAF50;
}

span.step {
  background: #607D8B;
}

span.to {
  background: #F44336;
}